*{
    margin: 0;
    padding: 0;

}

body{
background: #ffffff;
    font-size: 14px;
      font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.container{
    width: 80%;
    margin: 50px auto;
}

.form{
    background: #FF6D1F;
    display: flex;
    border-radius: 20px;
    flex-direction: row;
    gap: 15px;
}

.form-right{
    flex-basis: 40%;
    padding: 40px 60px;
}

.form-left{
flex-basis: 40%;
padding: 40px 30px;
background: #FFE08F;
border-radius: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Adds spacing between label and input */
}


input, textarea {
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
    width: 100%;
    padding: 8px;
    background-color: #ffd0b4;
    border-color: #af714d;
    border-radius: 5px;
    box-sizing: border-box;
}

input::placeholder, textarea::placeholder {
color: rgb(118, 118, 118);

}

#Submitbutton{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: #222222;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

#Submitbutton:hover{
    background-color: #434E78;
}

textarea{
    resize: vertical;
}






















.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
